.about-container {
	height: 400vh;
	display: flex;
	align-items: start;
	background-color: var(--dark-bg-color);
	justify-content: left;
}

.left {
	display: flex;
	justify-content: right;
	flex-direction: column;
	align-items: end;
	height: 100%;
	width: 50%;
}

.about-container>h1 {
	position: absolute;
	color: var(--bg-color);
	overflow: hidden;
	margin: 8px 0 0 14px;
	font-size: 10vw;
	/* align-self: flex-start; */
}

.right {
	height: 100vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-left-component {
	height: 100vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	color: var(--bg-color);
}

.about-right-component {
	/* height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 50vh;
	border-radius: 14px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.about-number {
	margin-bottom: 12px;
	color: var(--bg-color);
}

.project-title {
	font-size: 24px;
	width: 95%;
	text-transform: none;
	margin-bottom: 12px;
}

.project-description {
	font-size: 16px;
	width: 95%;
	margin-bottom: 12px;
	color: var(--bg-color);
}

.tag {
	display: flex;
	width: fit-content;
	margin-top: 16px;

	>p {
		font-size: 14px;
		padding: 2px 8px; 
		margin: 2px;
		border: 0.5px solid var(--bg-color);
		border-radius: 4px;
		color: var(--bg-color);
	}
}

.project-button {
	/* padding: 8px; */
	border: none;
	margin-right: 12px;
	color: var(--bg-color);

	>img {
		margin-right: 8px;
		height: 8px;
		color: var(--bg-color);
	}
}

.about-card {
	overflow: hidden;
	height: 500px;
	width: 500px;
	background: rgb(232, 220, 222);
	border-radius: 12px;
	display: flex;
	z-index: 100;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.about-images {
	height: 100%;
	width: 100%;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-images>img {
	/* height: 250px;
	width: auto;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.25) 12px 12px 4px 4px; */
}

.about-picture01 {
	/* height: 50px;
	width: auto; */
	/* border-radius: 12px; */
}

.panel {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.panel.blue {
	z-index: auto;
	background-image: url(../images/about-picture01.png);
}

.panel.red {
	z-index: auto;
	background-image: url(../images/about-picture02.png);
}

.panel.orange {
	z-index: auto;
	background-image: url(../images/about-picture03.png);
}

.panel.purple {
	z-index: auto;
	background-image: url(../images/about-picture04.png);
}