:root {
	--ease: cubic-bezier(0.255, 0.655, 0.02, 0.995);
	--transition-width: width 0.64s var(--ease);
	--transition-opacity: opacity 0s var(--ease);
	--transition-transform: transform 1.2s var(--ease);
	--bg-tab-content: var(--bg-color);
}

.about-container {
	height: 200vh;
	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
}

.about-header {
	line-height: 0.9;
	border: 1px solid var(--dark-bg-color);
	padding: 16px 0 16px 0;
}

.about-header>h1 {
	margin-left: 20px;
	font-size: 10vw;
}

.r-text {
	margin-left: 20px;
	font-size: 10vw;
	font-weight: 900;
	opacity: 1;
}

.tab {
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.tab-content {
	border: 1px solid var(--dark-bg-color);
	border-top: none;
	height: 60vh;
	display: flex;
	width: 100%;
	overflow: hidden;
}

.section-col {
	position: relative;
	width: 60rem;
	border-right: 1px solid var(--dark-bg-color);
	padding: 8rem 4rem;
	display: flex;
	flex-direction: column;
	filter: blur(1px);
	align-items: center;
	transition: var(--transition-width);
	overflow: hidden;
	background-color: var(--bg-tab-content);
}

.section-col:last-child {
	border: none;
}

.section-col.active {
	width: 200rem;
	transition: var(--transition-width);
	transform-origin: left;
	background-color: var(--bg-tab-content);
	filter: blur(0);
}

.section-col.active::after {
    opacity: 0;
}

.section-col.active h1,
.section-col.active h2,
.section-col.active p {
	
}



.section-col.active .section-col-description {
	opacity: 1;
}

.section-col-description {
	opacity: 0;
	width: 30vw;
	text-align: center;
}

.section-col::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.2;
	background-color: var(--bg-tab-content);
}

.section-col-image > img {
	position: relative;
	width: inherit;
	height: inherit;
	object-fit: cover;
	object-fit: left bottom;
}
.section-col-image > p {
	margin: 32px;
}

.section-col-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	height: 20%;
	width:8rem;
	/* background-color: red; */
}

.section-col-title > h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

.section-col-year {
	z-index: 1;
	
}

.section-col-year > h1{
	font-size: 7rem;
	/* text-shadow: -1px -1px rgba(0,0,0,0.5), 1px 1px rgba(255,255,255,0.5); */
	/* color: rgba(0,0,0,0.5); */
	margin-bottom: 16px;	
}

/* responsive */

/* @media screen and (max-width: 768px) {
	.about-container {
		height: 300vh;
	}
	.about-header>h1 {
		font-size: 20vw;
	}
	.r-text {
		font-size: 20vw;
	}
	.section-col {
		width: 100%;
		border-right: none;
	}
	.section-col.active {
		width: 100%;
	}
	.section-col-image {
		opacity: 1;
	}
	.section-col-image::after {
		opacity: 0.4;
	}
	.section-col-image img {
		object-fit: cover;
		object-fit: left bottom;
	}
} */
