:root {
    --bg-color: #E8EDDF;
    --dark-bg-color: #212321;
    --border-color: #d4dcc6;
    --grid-border-color: rgba(177,177,177,0.3);
    --dark-grid-border-color: rgba(33, 35, 33, 0.5);
}

* {
    cursor: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GeoSansLight", sans-serif;
    color: var(--dark-bg-color);
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--dark-bg-color);
}

*::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body:hover .inner-cursor {
    opacity: 1;
}

body:hover .outer-cursor {
    opacity: 1;
}

.opening {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #14120d;
    top: 1;
    z-index: 11;
}

.container {
    background: var(--bg-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-menu {
    display: flex;
    background-color: lightslategray;
    align-items: center;
    justify-content: center;
}

div.logo > a {
    z-index: 3;
    font-size: 24px;
    position: fixed;
    margin: 20px 0 0 20px;
    color: white;
    mix-blend-mode: difference;
}

.menus {
    position: fixed;
    z-index: 3;
	bottom: 32px;
    display: flex;
    margin-left: 50%;
	transform: translateX(-50%);
    justify-content: space-around;
	border-radius: 4px;
	background: rgba(22, 22, 22, 0.55);
	backdrop-filter: blur( 2.5px );
	-webkit-backdrop-filter: blur( 2.5px );
	border-radius: 10px;
    color: var(--dark-bg-color);
    mix-blend-mode: difference;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 1px;
}

.menus > a {
    position: relative;
	color: white;
	/* height: fit-content; */
	/* background-color: red; */
	/* border-radius: 10px; */
	padding: 16px;
}

.menus > a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menus > a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menus > a:hover {
    /* background: rgba(22, 22, 22, 0.70); */
}

.top-right-border {
    background-color: var(--dark-bg-color);
    height: 100px;
    width: 10%;
}

/* Cursor */

.inner-cursor {
    opacity: 0;
    z-index: 10000;
    position: fixed;
    left: 10px;
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%);
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.3s, height 0.3s;
}

.inner-cursor.grow {
    width: 50px;
    height: 50px;
    transition: width 0.5s, height 0.5s;
}

.inner-cursor.highlight {
    width: 200px;
    height: 200px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor {
    opacity: 0;
    z-index: 10000;
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
}

.outer-cursor.grow {
    width: 4px;
    height: 4px;
}

.outer-cursor.highlight {
    width: 4px;
    height: 4px;
    transition: width 0.5s, height 0.5s;
}
