:root {
	--bg-color: #E8EDDF;
	--dark-bg-color: #212321;
	--border-color: #d4dcc6;
	--grid-border-color: rgba(177, 177, 177, 0.3);
	--dark-grid-border-color: rgba(33, 35, 33, 0.5);
}

* {
	cursor: none !important;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: "GeoSansLight", sans-serif; */
	color: var(--dark-bg-color);
	font-family: "Futura_Light", sans-serif;
	font-weight: 400;
	font-style: normal;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

*::-webkit-scrollbar {
	width: 0;
}

a {
	text-decoration: none;
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

body:hover .inner-cursor {
	opacity: 1;
}

body:hover .outer-cursor {
	opacity: 1;
}

.container {
	background: var(--bg-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	z-index: 3;
	font-size: 24px;
	position: fixed;
	color: white;
	mix-blend-mode: difference;
}

.square {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: white;
	margin: 20px 20px 0 0;
	position: fixed;
	top: 0;
	right: 0;
}

.littleSquare {
	width: 16px;
	height: 16px;
	border-radius: 4px;
	background-color: black;
	margin: 27px 27px 0 0;
	position: fixed;
	top: 0;
	right: 0;
}

div.logo>a {
	z-index: 3;
	font-size: 24px;
	position: fixed;
	display: flex;
	margin: 20px 0 0 20px;
	color: white;
	mix-blend-mode: difference;
}

/* Navbar */

.menu-container {
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 3;
	bottom: 32px;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	color: var(--dark-bg-color);
	mix-blend-mode: difference;
	pointer-events: none;
}

.bounds {
	width: 90px;
	height: 50px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	pointer-events: all;
}

.boundsLogo {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: all;

	&:hover {
		width: 150%;
	}
}

.boundsSquare {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: all;

	&:hover {
		width: 150%;
	}
}

.menus {
	position: relative;
	display: flex;
	width: fit-content;
	margin-left: 50%;
	height: 50px;
	transform: translateX(-50%);
	justify-content: center;
	background: rgba(22, 22, 22, 0.55);
	/* backdrop-filter: blur(2.5px); */
	/* -webkit-backdrop-filter: blur(2.5px); */
	border-radius: 10px;
	color: var(--dark-bg-color);
	mix-blend-mode: difference;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 1px;
}

.menus>a {
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 84px;
	padding: 16px;
}

.menus>a:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.menus>a:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.top-right-border {
	background-color: var(--dark-bg-color);
	height: 100px;
	width: 10%;
}

/* Cursor */

.inner-cursor {
	opacity: 0;
	z-index: 10000;
	position: fixed;
	top: 0;
	width: 16px;
	height: 16px;
	transform: translate(-50%, -50%);
	background-color: white;
	mix-blend-mode: difference;
	border-radius: 4px;
	pointer-events: none;
	transition: ease width 0.1s, height 0.1s;
}

.inner-cursor.grow {
	width: 84px;
	height: 45px;
	border-radius: 10px;
}

.inner-cursor.logo {
	width: 90px;
	height: 40px;
	border-radius: 10px;
}

.inner-cursor.square {
	width: 30px;
	height: 30px;
	z-index: 99;
	border-radius: 10px;
}

.inner-cursor.highlight {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}