@font-face {
	font-family: myFirstFont;
	src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}

.contact {
	width: 100vw;
	position: relative;
	height: 110vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	background-color: var(--dark-bg-color);
}

.contact-header {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: end;
	background-color: var(--bg-color);
	height: 100%;
	width: 100vw;
	border-radius: 0 0 16px 16px;
	font-size: 8vw;
	padding: 8px;
	color: var(--dark-bg-color);
	font-family: 'Anton', sans-serif;
}

.contact-header>h1 {
	font-size: 8vw;
	z-index: 2;
}

.contact-container {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	z-index: 1;
	height: fit-content;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 8vw;
	width: 100vw;
	background: var(--dark-bg-color);
	color: var(--bg-color);
}


.svg-container {
	display: flex;
	justify-content: center;
	height: fit-content;
	width: 120px;
}

#svg {
	position: fixed;
}

.text {
	font-size: 8vw;
	font-weight: bolder;
	color: white;
	text-align: center;
}

.text:nth-child(3) {
	text-align: left;
}

.text-container {
	display: flex;
	justify-content: center;
	height: fit-content;
	align-items: center;
}

.footer {
	height: 32px;
	width: 100vw;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: end;
}

.footer>p {
	color: var(--bg-color);
}