.introduction {
	height: calc(100vh + 200px);
	width: 100vw;
	position: fixed;
	z-index: 99999;
	display: flex;
	justify-content: center;
}

.introduction svg {
	height: 100%;
	width: 100%;
	margin: 0;
}

.introduction svg path {
	stroke: aliceblue;
	stroke-width: 0px;
	fill: var(--dark-bg-color);
}

.introduction>p {
	display: flex;
	color: white;
	font-size: 42px;
	align-items: center;
	position: absolute;
	z-index: 1;

}