.presentation-container {
	/* align-items: cent/; */
	overflow: hidden;
	height: 200vh;
	width: 92vw;
	margin: auto;
}

.presentation-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 92vw;
	height: 50rem;
	border-radius: 8px;
	overflow: hidden;
	background-image: url('../images/text-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.parallax-text {
	text-transform: uppercase;
	height: fit-content;
	font-size: 4vw;
	width: 80vw;
	padding: 4vw;
	color: white;
	transform: translateY(50px);
	font-weight: 900;
}

.test {
	padding: 15px;
	/* background-color: red; */
	height: 100%;
	width: 100%;
	font-size: fit-content;
	display: flex;
	/* text-align: center; */
}

.test>h1{
	font-size: 8vw;
	text-transform: uppercase;
}

.test>h1>span {
	background-color: lightblue;
	padding: 0 100px 0 100px;
}